/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../Ruby/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../../../../Ruby/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../../../../Ruby/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../../../../Ruby/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../../../../Ruby/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../../../../Ruby/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../../../../Ruby/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../../../../Ruby/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../../../../Ruby/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 24, ../sass/screen.scss */
body {
  background: #a6ceff;
  font-family: arial;
  font-size: 14px;
  line-height: 20px;
}

/* line 25, ../sass/screen.scss */
.website {
  width: 700px;
  margin: 40px auto;
  position: relative;
  padding-left: 530px;
}
/* line 26, ../sass/screen.scss */
.website .title {
  position: absolute;
  top: 10px;
  left: 0px;
  background: url(../img/title.png) no-repeat;
  width: 512px;
  height: 290px;
}
/* line 27, ../sass/screen.scss */
.website .title .box {
  padding: 40px 50px;
  font-size: 30px;
  line-height: 40px;
  color: red;
}
/* line 29, ../sass/screen.scss */
.website header {
  position: relative;
  height: 100px;
  margin-bottom: 20px;
  border: 2px solid #a3a39f;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.8);
}
/* line 30, ../sass/screen.scss */
.website header .mainNavigation {
  position: absolute;
  right: 20px;
  bottom: 20px;
  border: 2px solid #a3a39f;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.8);
}
/* line 32, ../sass/screen.scss */
.website header .mainNavigation ul li {
  display: inline-block;
  border-right: 2px solid #ccc;
  padding: 7px 10px;
}
/* line 33, ../sass/screen.scss */
.website header .mainNavigation ul li:last-child {
  border: none;
}
/* line 34, ../sass/screen.scss */
.website header .mainNavigation ul li a {
  text-decoration: none;
  color: black;
}
/* line 40, ../sass/screen.scss */
.website .main {
  position: relative;
}
/* line 41, ../sass/screen.scss */
.website .main .subNavigation {
  position: absolute;
  left: 0;
  top: 0;
  width: 200px;
  border: 2px solid #a3a39f;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.8);
}
/* line 43, ../sass/screen.scss */
.website .main .subNavigation ul li {
  border-bottom: 2px solid #ccc;
  padding: 7px 10px;
}
/* line 44, ../sass/screen.scss */
.website .main .subNavigation ul li:last-child {
  border: none;
}
/* line 45, ../sass/screen.scss */
.website .main .subNavigation ul li a {
  text-decoration: none;
  color: black;
}
/* line 50, ../sass/screen.scss */
.website .main .content {
  float: right;
  display: inline-block;
  min-height: 500px;
  padding: 20px;
  border: 2px solid #a3a39f;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.8);
}
/* line 51, ../sass/screen.scss */
.website .main .content h1 {
  font-size: 30px;
  line-height: 40px;
}
