<html>
    <head>
        <link href="resources/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />
        <link href="resources/stylesheets/print.css" media="print" rel="stylesheet" type="text/css" />
        <!--[if IE]>
            <link href="resources/stylesheets/ie.css" media="screen, projection" rel="stylesheet" type="text/css" />
        <![endif]-->
    </head>
    <body>
        <div class="website">
            <header>
                <nav class="mainNavigation">
                    <ul>
                        <li><a href="#">mainNav1</a></li>
                        <li><a href="#">mainNav2</a></li>
                        <li><a href="#">mainNav3</a></li>
                        <li><a href="#">mainNav4</a></li>
                        <li><a href="#">mainNav5</a></li>
                    </ul>
                </nav>
            </header>
            <section class="main">
                <nav class="subNavigation">
                    <ul>
                        <li><a href="#">subNav1</a></li>
                        <li><a href="#">subNav2</a></li>
                        <li><a href="#">subNav3</a></li>
                        <li><a href="#">subNav4</a></li>
                        <li><a href="#">subNav5</a></li>
                        <li><a href="#">subNav6</a></li>
                    </ul>
                </nav>
                <section class="content">
                    
                </section>
            </section>
        </div>
        
    </body>
</html>